*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.container h1{
    margin: 20px 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 3rem;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    width: 32%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    transition: 0.5s;
    display: flex;
}
.card img{
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    box-shadow: 0 0 20px black;
    object-fit: cover;
}
.card:hover{
    transform: scale(1.1);
    transition: 1s;
    filter: drop-shadow(0 0 15px black);
}
.card:hover img{
    filter: grayscale(0%);
}
.card figcaption {
    position: absolute;
    bottom: 0;
    height: 16%;
    color: #fff;
    padding: 25px;
    opacity: 0;
    font-weight: 700; 
    font-size: 20px;
}
.card:hover figcaption {
    opacity: 1;
    transform:translateY(-40%) rotate(-360deg);
    transition: 1s;
}